.navpanel { 
	height: 100%;
	width: 310px; 
	position: fixed;
	z-index: 1; 
	top: 0;
	left: 0; 
	overflow-x: hidden; 
	padding: 15px 15px 15px 15px;
	border-right: 4px solid black;
	box-sizing: border-box;
	background-color: black;
	background-image: url("../images/arcade.jpg");
	background-repeat: repeat;
	background-size: 90px;
}

body{ 
	margin-top: 75px;
	height: 100%;
	margin-left: 400px;
}
body.homepage {
	margin-left: 370px;
	background-color: rgb(40,83,74);
	background-image: url("../images/logs.jpg");
	background-repeat: repeat; 
}

body.folder{ 
	background-color: rgb(242,245,250);
	background-image: url("../images/lined.png");
	background-repeat: repeat; 
}

body.about{ 
	background-color: black;
	background-image: url("../images/woodpattern.JPG");
	background-repeat: repeat; 
	background-size: 90px;
}

body.holy{ 
	background-color: black;
	background-image: url("../images/stars.gif");
	background-repeat: repeat; 
	background-size: 100px;
}

body.alas{ 
	background-color: black;
	background-image: url("../images/tragedy.jpg");
	background-repeat: repeat; 
	background-size: 100px;
}

body.graphic{ 
	background-color: orangered;
	background-image: url("../images/dusty.jpg");
	background-repeat: repeat; 
	background-size: 256px;
}

body.traditional{ 
	background-color: rgb(242,245,250);
	background-image: url("../images/paper2.png");
	background-repeat: repeat; 
	background-size: 256px;
}

body.digital{ 
	background-color: black;
	background-image: url("../images/greenspace.gif");
	background-repeat: repeat; 
	background-size: 256px;
}

body.threedee{ 
	background-color: orangered;
	background-image: url("../images/space1.jpg");
	background-repeat: repeat; 
	background-size: 256px;
}

body.other{ 
	background-color: black;
	background-image: url("../images/space2.jpg");
	background-repeat: repeat; 
	background-size: 256px;
}

.snippet { 
	background-color: black;
	color: white;
	text-align: center;
	padding: 4px 10px 5px 10px;
	border: 2px dotted white;
	margin-top: 10px;
	margin-bottom: 10px;
}

.folderpg { 
	font-family: "Courier New";
	line-height: 1.6;
}

table.navtable { 
	background-color: white;
	border: 2px solid black;
}

table.navtable th { 
	border: 2px solid black;
	padding: 2px;
}

a { 
	all: unset;
	text-decoration-line: underline;
}

a:hover { 
	font-weight: bold; 
	font-style: italic;
}

.linkable { 
	text-decoration-line: underline;
}

.linkable:hover { 
	background-color: black;
	color: white;
}

.linkable:hover img { 
	filter: invert(100%);
}
.linkable:hover a { 
	font-weight: bold;
	font-style: normal;
}

#current { 
	background-color: black;
	color: white;
}

#currentdec { 
	background-color: black;
	color: white;
}

#current img { 
	filter: invert(100%);
}

#current:hover img { 
	filter: invert(0%);
}

#current:hover { 
	background-color: white;
	color: black;
}


#current a:visited{ 
	font-weight: bold;
	font-style: normal;
}

#current a:hover { 
	font-weight: bold;
	font-style: normal;
}

.stickynote { 
	background-color: beige;
	background-image: url("../images/paper.png");
	background-repeat: repeat;
	font-family: "Courier New";
	padding: 35px;
	text-align: center;
	float: left;
	width: 300px;
	box-shadow: 5px 5px 5px black;
}